<!--Header-->
<app-home-nav-bar></app-home-nav-bar>



<!--Body-->
<div class="container">
  <div class="row justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img id="resLogo" src="assets/egypt.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{restaurantDetails.restaurant_Name}}</h5>
            <p class="card-text">{{restaurantDetails.restaurant_Description}}</p>
            <p class="card-text"><small class="text-muted"><b>Min. order: EGP 40.00</b></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="res_main">
  <div class="listings ms-5">
    <div class="card mb-3" style="max-width: 700px;" *ngFor="let item of items">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/food_placeholder.svg" id="itemlogo" class="img-fluid rounded-start" alt="res_logo"  width="100px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{item[0]}}</h5>
            <div id ="price" class="price">Price    :    {{item[1]}}</div>
            <div class="info">
              <div class="description">{{item[2]}}</div>
              <div class="tags">Tags : {{item[3]}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div>


</div>



<!--Footer-->
<app-footer></app-footer>
