.login_btn{
    color: white;
    background-color: #BD1E1E;
    border: white;
}

.login_btn:hover{

    color: white;
    background-color: #961717;
}


#underlinedRegister{
    font-weight: bold;
    color: #BD1E1E;
}


#DONThave{
    background-color: transparent !important;;
    border: 0;
}
