

<app-home-nav-bar></app-home-nav-bar>
  <div  id="emad" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-6 fw-bold">Designed by Team Tech-Labs</h1>
      <h3 class="fw-normal text-muted mb-3">Meal dash is a ...... ANYWAYS --> Neon Genesis Evangelion is nice 
        and i want to finish this project to watch the movies thanks</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<app-footer></app-footer>
