.user-home-mid{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--not-so-pure-white);
}



.user-home-mid-title{
  color: var(--nice-red);
}

.user-home-mid-text {
  margin: 50px 10px;
  font-size: 80px;
  padding-right: 20px;
  text-transform: uppercase;
}

.user-home-image img {
  width: 100%; /* Adjust as needed */
  height: auto;
margin-right: auto
}

.user-home-mid-title {
  font-size: 80px;
  color: var(--nice-red);
}


