<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="user-home-text">
        <h1 class="user-home-mid-text">
          Your Flavorful Journey Begins
          <span class="user-home-mid-title">Here!</span>
        </h1>
        <div *ngIf="this.authService.loggedinUserSignal() == null; else elseBlock">
        <button routerLink="/register" type="button" class="btn btn-danger rounded-pill px-4 text-uppercase  w-50 h-50 fs-3">Register Now!</button>
      </div>
      <ng-template #elseBlock>
        <button routerLink="/r_res_list" type="button" class="btn btn-danger rounded-pill px-4 text-uppercase  w-50 h-50 fs-3">Order Now!</button>

    </ng-template>
      </div>
    </div>
    <div class="col-md-6">
      <div class="user-home-image">
        <img src="assets/Burger.png" alt="Burger Image">
      </div>
    </div>
  </div>
</div>
