.Reg_btn{
    width: 130;
    height: 60;
    color: white;
    background-color: #BD1E1E;
    border: white;
}

.Reg_btn:hover{

    color: white;
    background-color: #961717;
}

#emss {
    text-align: center;
    color:#BD1E1E;
    font-weight: bold;
}

#underlinedLogin{
    font-weight: bold;
    color: #BD1E1E;
}

#alrhave{
    background-color: transparent !important;;
    border: 0;
}
